.App {
  text-align: center;
}

.full-container {
  padding: 100px;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.container {
  margin-top: 100px;
}

.App-header {
  background: #377f6a;
}

.App-header-banner {
  background: url("../src/Images/banner1.jpg") no-repeat center;
  -ms-background-size: cover;
  background-size: cover;
  z-index: 0;
  position: relative;
  display: grid;
  align-items: center;
}

.App-header-banner:before {
  content: "";
  background: #377f6ac7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */